pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://keystoreforazure.vault.azure.net/secrets/tenantid/b07113bdbb824e4ba5a5c956cc812e7f?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "val",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "val",
					"value": "@activity('Web1').output.value"
				}
			}
		],
		"variables": {
			"val": {
				"type": "String",
				"defaultValue": "test"
			}
		},
		"annotations": []
	}
}