pipeline/TestKeyRetrieval.json
{
	"name": "TestKeyRetrieval",
	"properties": {
		"activities": [
			{
				"name": "TestKeyRetrieval",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://keystoreforazure.vault.azure.net/keys/testkey/50abe1ad0799497888d2431a7db94967?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GetKeyValue",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "TestKeyRetrieval",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "val",
					"value": {
						"value": "@activity('TestKeyRetrieval').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"val": {
				"type": "String",
				"defaultValue": "test"
			}
		},
		"annotations": []
	}
}